# Dependencias
node_modules/

# Variables de entorno y secretos
.env

# Logs y archivos del sistema operativo
logs/
*.log
npm-debug.log*
.DS_Store
Thumbs.db

# Directorios de compilación o temporales (si aplica)
dist/
build/
ApunteParaSubirALaNube.txt/